.photo-artist-index {
 height: 130px !important;
 width: 130px;
  /* margin-bottom: 3%; */
  padding: 1px;
}

.row.no-gutter-artist-index {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -12px;
  padding-left: 0;
  padding-right: 0;
  padding: 12px;
  position: relative;
  .col-xs-4 {
    padding-right: 0;
    padding-left: 0;
  }
  padding-bottom: 0px;
}

.search-artist-index {
  margin-top: 20px;
  padding: 10px;
  .form-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .btn-landing {
      width: 100%;
      margin: 10px 0;
    }
    .btn-group {
      width: 100% !important;
      button {
        margin: 10px 0;
      }
    }
  }
}
