.photo-artist-show {
  height: 180px;
  width: 180px;
}
.img-artist-show {
  width: 90px;
  height: 90px;
  // position: absolute;
  // left: 50px;
}

.container-position-relative {
  margin-right: 25px;
  margin-left: 25px;
}

#reviews {
  padding-top: 20px;
  margin-bottom: 40px;
}

#reviews a:visited {
  color: white;
}

.row-photo {
  padding-bottom: 2px;
}

.container-show {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.artist-show-info a:visited {
  text-decoration: none !important;
  color: white;
}

.links-aritst-show a:visited {
  text-decoration: none !important;
  color: white;
  margin-left: -5px;
  margin-top: 10px;
}

.row.no-gutter-artist {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  .col-xs-6 {
    padding-right: 0;
    padding-left: 0;
  }
  padding-bottom: 75px;
}

.artist-location{
  margin-bottom: 10px;
}

.back-artist-show a {
  color: black;
  margin-top: 15px;
  margin-left: 15px;
  text-decoration: none;
}

.artist-location a:hover {
  color: #337ab7;
  text-decoration: none;
}

.artist-location a:visited{
  color: #337ab7;
}
