

.artist-edit-background {
  background-image: url('badass_oldie.png');
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
  margin-bottom: 3vh;
}

.artist-edit-welcome {
  color: white;
  position: absolute;
  top: 12vh;
  left: 5vh;
}

.artist-edit-data {
  width: 90%;
}

.submit-edit-profile .btn {
  width: 100%;
  background-color: $primary;
  margin-bottom: 1vh;
}


.submit-edit-profile .edit-profile-input {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  box-shadow: none;
  color: #333333;

  &:focus {
    border-bottom-color: #7E57C2;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: 0.2s ease all;
    border-left-color: transparent;
    box-shadow: none;
  }

}


.style-checkbox .bootstrap-switch-wrapper.bootstrap-switch-small.bootstrap-switch-focused {
  outline: none;
  border-color: #cccccc;
  box-shadow: none;
}

.picture-upload {
  width: 100%;
  background-size: cover;
  height: 100px;
  background-position: center;
}


.picture-selected {
  box-shadow: 0px 0px 2px 3px $primary;
  transition: 0.1s ease;
  background-image: url(http://www.freeiconspng.com/uploads/success-icon-10.png);
  z-index: 1;
}

.picture-upload-checked {
  width: 5vh;
  height: 5vh;

}

.picture-cover {
  background-image: black;
  z-index: 1;
}


.wrapper-upload {
  position: relative;
}
.disappear {
  display: none;
}

.checked {
  top: 102px;
  left: 105px;
  position: absolute;
}


.checked.disappear {
  display: none;
  transition: all 1s;
}


.upload-pictures.btn {
  width: 80%;
  background-color: $primary;
  margin: 0 auto;
  display: block;
}


// {
//   border-left-color: transparent;
//   border-right-color: transparent;
//   border-top-color: transparent;
// }

