

.artist-edit-background {
  background-image: url('badass_oldie.png');
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
  margin-bottom: 3vh;
}

.artist-edit-welcome {
  color: white;
  position: absolute;
  top: 12vh;
  left: 5vh;
}

.artist-edit-data {
  width: 90%;
}

.submit-edit-profile .btn {
  width: 100%;
  background-color: $primary;
  margin-bottom: 1vh;
}


.submit-edit-profile .edit-profile-input {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  box-shadow: none;
  color: #333333;

  &:focus {
    border-bottom-color: #7E57C2;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: 0.2s ease all;
    border-left-color: transparent;
    box-shadow: none;
  }

}


.style-checkbox .bootstrap-switch-wrapper.bootstrap-switch-small.bootstrap-switch-focused {
  outline: none;
  border-color: #cccccc;
  box-shadow: none;
}

.picture-upload {
  height: 20vh;
  width: 20vh;
}


.picture-selected {
  box-shadow: 0px 0px 2px 3px $primary;
  transition: 0.1s ease;
  background-image: url(http://www.freeiconspng.com/uploads/success-icon-10.png);
  z-index: 1;
}

.picture-upload-checked {
  width: 5vh;
  height: 5vh;

}

.picture-cover {
  background-image: black;
  z-index: 1;
}


.wrapper-upload {
  position: relative;
}
.disappear {
  display: none;
}

.checked {
  top: 102px;
  left: 105px;
  position: absolute;
}


.checked.disappear {
  display: none;
  transition: all 1s;
}


.upload-pictures.btn {
  width: 80%;
  background-color: $primary;
  margin-bottom: 1vh;
  margin-bottom: 1vh
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  background-image: none;
}


// {
//   border-left-color: transparent;
//   border-right-color: transparent;
//   border-top-color: transparent;
// }

