
.stripe-button-el {
  background-image: none !important;
  box-shadow: none !important;
  span {
    background: $primary !important;
    background-image: none !important;
    width: 100%;
    text-shadow: none !important;
    box-shadow: none !important;
  }
}
