.review-form {
  border: 1px solid black;
  border-radius: 4px;
}

.h1-review {
  margin-bottom: 35px
}

.btn.btn-primary {
  background-color: $primary;
  border: 1px solid #7e57c2;
  border-radius: 4px;
}

.btn-review {
  color: white;
  background: #7e57c2;
}
