<div class="info-padding">

  <h1>What is get.inked?</h1>

  <div class="paragraph-reveal">
    <h2>Browse</h2>
    <p class="paragraph-text-align">Connect with top artists all over the world. Explore our gallery and find an artist that fits your location and style.</p>
  </div>

  <div class="paragraph-reveal">
    <h2>Book</h2>
    <p class="paragraph-text-align">Once you find an artist you like book an appointment with them to get your one of a kind tattoo.</p>
  </div>

  <div class="paragraph-reveal">
    <h2>Join</h2>
    <p class="paragraph-text-align">Whether you work for a studio or you're a freelancer, join and share your work.</p>
  </div>
</div>
