

<div class="info-padding">

<h1>What's get.inked</h1>

<h2>Location</h2>
<p>Travelling to a new city and want to keep a memory? It's easy
with get.inked. We connect you with local tattoo artists that you
can't find anywhere else.</p>

<h2>Artists</h2>
<p>Top artists will provide you with the best services at a
reasonable price. Explore galleries of tattoos and find the best
tattoo artist for your location or style.</p>

<h2>Feedback</h2>
<p>Did you like your tattoo artist? Leave them a review on their
page or follow them so you can stay up to date with their new
works or locations.</p>

</div>
