<div class="info-padding">

  <h1>What is GetInked?</h1>

  <div class="paragraph-reveal">
    <h2>Browse</h2>
    <p class="paragraph-text-align">Connect with top artists all over the world. Explore our gallery and find an artist that fits your location and style.</p>
  </div>

  <div class="paragraph-reveal">
    <h2>Book</h2>
    <p class="paragraph-text-align">Once you find an artist you like book an appointment with them to get your one of a kind tattoo.</p>
  </div>
  
  <div class="paragraph-reveal">
    <h2>Follow</h2>
    <p class="paragraph-text-align">Like your artist? Leave them a review and follow them so you can stay up to date with their work and location.</p>
  </div>
</div>
