

<div class="featured-artist-card">
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-xs-4">
      <%= image_tag "https://s-media-cache-ak0.pinimg.com/originals/8b/d3/91/8bd3919f20dd898ad5cc9b1d37c5577a.jpg", class: "image-rectangle-small first-image" %>
        <div class="explore-art">
          <h4>Featured Artist</h4>
          <p>Take a look at our
          top artist works</p>
          <%= link_to "Discover art" %>
        </div>
    </div>
    <div class="col-xs-4">
      <%= image_tag "http://oddstuffmagazine.com/wp-content/uploads/2013/07/Beautiful-Tattoos-for-girls-41.jpg", class: "image-rectangle-small" %>
    </div>
    <div class="col-xs-4">
      <%= image_tag "http://bust.com/images/articles/37185/Screen_Shot_2016-12-07_at_3.46.41_PM.png", class: "image-rectangle-small" %>
    </div>
  </div>
</div>
</div>



</div>
