<% if current_artist %>
<div id="dashboard-artist">
<%= render 'layouts/dashboard_artist'  %>
</div>
<% else %>
<div id="dashboard-user">
  <%= render 'layouts/dashboard_user', appointments: @appointments %>
</div>
<% end %>

