.banner-landing-page {
  color: white;
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%, rgba(67, 67, 67, 0.2) 50%), url('http://bit.ly/2rgHMwB');
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 48px;
    margin: 0;
  }
  h2{
    font-size: 36px;
    margin: 10px;
    margin-bottom: 30px;
  }
  .form-banner {
    display: flex;
  }
}
