.banner-landing-page {
  color: white;
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%, rgba(67, 67, 67, 0.2) 50%), url('https://images.pexels.com/photos/194074/pexels-photo-194074.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $base-font;

  h1 {
    font-size: 50px;
    margin: 0;
    letter-spacing: 3px;
  }
  h2{
    font-size: 36px;
    margin: 10px;
    margin-bottom: 30px;
  }
  .form-banner {
    display: flex;
  }
}

.form-home {
  margin-top: 30px;
}
