.btn-landing {
  background-color: #7e57c2;
  border: none;
  height: 36px;
  font-family: 'Open Sans';
  color: white;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 4px;
}

.btn-index {
  margin-top: 10px;
}

.dropdown-style {
  height: 50px;
  background: white;
  font-family: 'Open Sans';
}

// .btn-purple {
//   background-color: #7e57c2;
//   border: none;
//   height: 35px;
//   font-family: 'Open Sans';
//   color: white;
//   font-weight: 500;

// }

.btn-artist-show {
  background-color: #7e57c2;
  border: none;
  height: 35px;
  font-family: 'Open Sans';
  color: white;
  font-weight: 500;

}

.btn-review {
    position: absolute;
    right: 27px;
    bottom: 11px;
    height: 35px;
}


.btn-center{
  margin-left: 30px;
}

.btn-primary.disabled, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #7E57C2;
    border: none;
    box-shadow: none!important;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
    color: #fff;
    background-color: #7E57C2;
    opacity: 1!important;
    border: none;
    box-shadow: none;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
    border: none;
}
