

<div class="container center">
  <h4> Create a New Appointment </h4>

  <%= simple_form_for [@artist, @appointment], url: artist_appointments_path, method: :post do |f| %>
  <%= f.input :status, collection: ["Pending"] %>
  <%= f.button :submit %>
<% end %>

<%= @error %>

</div>
