

<h4 class="text-center"> Create a New Appointment </h4>
<div class="container">
  <div class="row">
    <div class="col-md-6">

     <%= simple_form_for [@artist, @appointment], url: artist_appointments_path, method: :post do |f| %>


     <%= f.input :start_time, input_html: {id: 'datetimepicker'} %>
     <%= f.input :end_time, input_html: {id: 'datetimepicker2'} %>


     <%= f.button :submit %>
     <% end %>

   </div>
 </div>
</div>
