<h1>This is artist dashboard!</h1>

<h3>Appointments of current user:</h3>
<<<<<<< HEAD

=======
>>>>>>> 5ccc4a8cf18d85d49466d5333939a5bc93570cee






schedule = "0,0930,1800;1,0930,1800"

<%= simple_form_for current_artist, url: artist_path(current_artist), method: :post do |f| %>

  <% (0..6).each do |number| %>
      <%= f.input :schedule, input_html: {id: 'timepicker'} %>
      <%= f.input :schedule, input_html: {id: 'timepicker'} %>
  <% end %>

  <%= f.button :submit %>
<% end %>
